server {
  listen 80;

  root /var/www/lighthouse;
  index index.html index.htm;

  server_name {{ ansible_default_ipv4.address }};

  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}